Repository hmcts/probate-frontend, pull requests merged in 2019-08, with the labels that each got.

#937 update repos
  charts/probate-frontend/Chart.yaml
  charts/probate-frontend/requirements.yaml
Labels: ns:probate-frontend-pr-937

#942 Fixidampr
  charts/probate-frontend/values.preview.template.yaml
Labels: ns:probate-frontend-pr-942

#946 update idamPR
  charts/probate-frontend/values.yaml
Labels: ns:probate-frontend-pr-946

#948 update feature toggle chart
  charts/probate-frontend/requirements.yaml
Labels: ns:probate-frontend-pr-948

#935 PRO-5892: Update survey links
  app/config.js
  app/steps/ui/thankyou/template.html
  test/data/legalDeclationHTML.html
Labels: ns:probate-frontend-pr-935

#933 PRO-5893: Upgrade webchat version
  package.json
  yarn.lock
Labels: ns:probate-frontend-pr-933

#945 PRO-4008: Open all external links in a new tab
  app/resources/en/translation/common.json
  app/resources/en/translation/screeners/starteligibility.json
Labels: ns:probate-frontend-pr-945

#956 Add noreferrer to survey links
  Dockerfile
  app/resources/en/translation/common.json
  app/steps/ui/thankyou/template.html
Labels: ns:probate-frontend-pr-956
