Repository hmcts/probate-frontend, pull requests merged in 2021-07, with the labels that each got.

#1368 DTSPB-1308: Fix un-resolving promises that were making the e2e tests brittle
  test/end-to-end/helpers/JSWait.js
  test/end-to-end/pages/screeners/deathcertificate.js
  test/end-to-end/pages/stoppage/stoppage.js
  test/end-to-end/pages/thankyou/thankyou.js
  test/end-to-end/paths/probate/multipleExecutors.js
Labels: ns:probate, prd:probate, rel:probate-frontend-pr-1368

#1438 Remove commented code for fresh commit
  Jenkinsfile_CNP
Labels: ns:probate, prd:probate, rel:probate-frontend-pr-1438

#1442 DTSPB-2036: update chart version for avaya webchat
  charts/probate-frontend/Chart.yaml
  charts/probate-frontend/values.preview.template.yaml
  charts/probate-frontend/values.yaml
Labels: ns:probate, prd:probate, rel:probate-frontend-pr-1442
