Repository hmcts/probate-frontend, pull requests merged in 2022-07, with the labels that each got.

#1683 DTSPB-2914 Update yarn-audit-known-issues
  test/end-to-end/paths/probate/multipleExecutors.EE.no.js
  test/end-to-end/paths/probate/multipleExecutors.EE.yes.js
  test/end-to-end/paths/probate/multipleExecutors.js
  yarn-audit-known-issues
Labels: ns:probate, prd:probate, rel:probate-frontend-pr-1683

#1682 DTSPB-2912 updates
  Dockerfile
  charts/probate-frontend/Chart.yaml
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:probate, prd:probate, nightly, rel:probate-frontend-pr-1682

#1676 DITSPB-2880_Updated_CrossBrowser_Execution_Config
  Jenkinsfile_nightly
Labels: ns:probate, prd:probate, nightly, rel:probate-frontend-pr-1676

#1654 DTSPB-1603 SOT to LegalStatement
  app/services/UploadLegalDeclaration.js
  charts/probate-frontend/Chart.yaml
  test/unit/services/testUploadLegalDeclaration.js
  yarn-audit-known-issues
Labels: ns:probate, prd:probate, rel:probate-frontend-pr-1654

#1653 DTSPB-2775_Webchat_Center_Closed
  app/resources/en/translation/common.json
Labels: ns:probate, prd:probate, rel:probate-frontend-pr-1653

#1685 Dtspb 2858 no docs required email
  app/steps/ui/declaration/index.js
  charts/probate-frontend/Chart.yaml
  test/unit/testDeclarationPost.js
Labels: ns:probate, prd:probate, nightly, rel:probate-frontend-pr-1685

#1688 DTSPB-2948 increase health timeout
  config/default.yaml
  yarn-audit-known-issues
Labels: ns:probate, prd:probate, rel:probate-frontend-pr-1688
