Repository hmcts/probate-frontend, pull requests merged in 2023-05, with the labels that each got.

#1843 Dtspb 3344 run fe e2e test locally v2
  README.md
  app/services/Security.js
  app/setupSecrets.js
  config/dev-aat.yaml
  config/testing-e2e.yaml
  config/testing-http-dk.yaml
  config/testing-unit.yaml
  package.json
  test/end-to-end/codecept.conf.js
  test/end-to-end/helpers/JSWait.js
  test/end-to-end/helpers/TestConfigurator.js
  test/unit/services/testSecurity.js
  yarn.lock
Labels: ns:probate, prd:probate, nightly, rel:probate-frontend-pr-1843

#1828 Dtspb 3176 hmrc iht online change
  app/featureToggles.js
  app/journeys/intestacy.js
  app/journeys/probate.js
  app/steps/ui/deceased/deathcertificate/index.js
  app/steps/ui/deceased/englishforeigndeathcert/index.js
  app/steps/ui/deceased/foreigndeathcerttranslation/index.js
  config/default.yaml
  package.json
  test/component/deceased/testDeathCertificate.js
  test/component/deceased/testEnglishForeignDeathCert.js
  test/component/deceased/testForeignDeathCertTranslation.js
  test/end-to-end/paths/intestacy/intestacy.en.test.js
  test/end-to-end/paths/intestacy/intestacy.spouse.en.test.js
  test/end-to-end/paths/other/creditCardPaymentCancellation.js
  test/end-to-end/paths/probate/gopSingleExecutor.en.test.js
  test/end-to-end/paths/probate/multipleExecutors.js
  test/unit/deceased/testEnglishForeignDeathCertificate.js
  yarn.lock
Labels: ns:probate, prd:probate, nightly-without-welsh-tests, rel:probate-frontend-pr-1828

#1850 DTSPB-3577 Citizens hub docs received status fix
  app/steps/ui/citizenshub/index.js
  app/steps/ui/thankyou/index.js
  app/utils/CaseProgress.js
  charts/probate-frontend/Chart.yaml
  test/unit/citizenshub/testCaseOverview.js
  test/unit/testThankYouPage.js
  test/unit/utils/testCaseProgress.js
  yarn.lock
Labels: ns:probate, prd:probate, nightly-without-welsh-tests, rel:probate-frontend-pr-1850

#1818 Dtspb 3387 clean up fe routes file
  app/routes.js
Labels: ns:probate, prd:probate, nightly-without-welsh-tests, rel:probate-frontend-pr-1818
