Repository hmcts/probate-frontend, pull requests merged in 2024-08, with the labels that each got.

#2076 DTSPB-4278: Remove inline radio styling which was causing bug
  app/steps/ui/will/codicilsdamageculpritknown/template.html
  app/steps/ui/will/codicilsdamagedate/template.html
  app/steps/ui/will/codicilsdamagereasonknown/template.html
  app/steps/ui/will/codicilshasvisibledamage/template.html
  app/steps/ui/will/willdamageculpritknown/template.html
  app/steps/ui/will/willdamagedate/template.html
  app/steps/ui/will/willdamagereasonknown/template.html
Labels: ns:probate, prd:probate, aat/add-or-update, prod/no-changes, rel:probate-frontend-pr-2076

#2065 DTSPB-4169 added welsh and english missing address legal statements
  app/resources/cy/translation/declaration.json
  app/resources/en/translation/declaration.json
  test/data/legalDeclationHTML.html
  test/unit/utils/testLegalDocumentJSONObjectBuilder.js
Labels: ns:probate, prd:probate, nightly-without-welsh-tests, enable_keep_helm, aat/add-or-update, prod/no-changes, rel:probate-frontend-pr-2065

#2081 DTSPB-4070 - Update changes to deceased alias name on will for all GO…
  app/resources/cy/translation/deceased/alias.json
  app/resources/en/translation/deceased/alias.json
  test/end-to-end/pages/deceased/alias.js
  test/end-to-end/paths/generic/survey.test.js
  test/end-to-end/paths/probate/gopSingleExecutor.en.test.js
  test/end-to-end/paths/probate/multipleExecutors.EE.no.js
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-frontend-pr-2081

#2080 DTSPB-4220: Add missing iht Welsh translations
  app/resources/cy/translation/citizenshub.json
  app/resources/cy/translation/common.json
  app/resources/cy/translation/documents.json
  app/resources/cy/translation/iht/calccheck.json
  app/resources/cy/translation/iht/hmrcletter.json
  app/resources/cy/translation/iht/newsubmittedtohmrc.json
  app/resources/cy/translation/iht/probateestatevalues.json
  app/resources/cy/translation/iht/reportestatevalues.json
  app/resources/cy/translation/iht/uniqueprobatecode.json
  app/resources/cy/translation/iht/waitingforhmrc.json
  app/resources/cy/translation/payment/status.json
  app/resources/cy/translation/static/contact.json
  app/resources/cy/translation/stoppage.json
  app/resources/cy/translation/thankyou.json
  app/resources/en/translation/iht/calccheck.json
  app/resources/en/translation/iht/estatevalued.json
  app/resources/en/translation/iht/hmrcletter.json
  app/resources/en/translation/iht/newsubmittedtohmrc.json
  app/resources/en/translation/iht/submittedtohmrc.json
Labels: ns:probate, prd:probate, enable_keep_helm, aat/add-or-update, prod/no-changes, rel:probate-frontend-pr-2080
