Repository hmcts/probate-frontend, pull requests merged in 2025-08, with the labels that each got.

#2665 DTSPB-4800 Change Eligibility hint text
  app/resources/cy/translation/screeners/applicantexecutor.json
  app/resources/cy/translation/screeners/deathcertificate.json
  app/resources/cy/translation/screeners/deathcertificateinenglish.json
  app/resources/cy/translation/screeners/deathcertificatetranslation.json
  app/resources/cy/translation/screeners/deceaseddomicile.json
  app/resources/cy/translation/screeners/diedafteroctober2014.json
  app/resources/cy/translation/screeners/eedeceaseddod.json
  app/resources/cy/translation/screeners/eeestatevalued.json
  app/resources/cy/translation/screeners/ihtcompleted.json
  app/resources/cy/translation/screeners/mentalcapacity.json
  app/resources/cy/translation/screeners/otherapplicants.json
  app/resources/cy/translation/screeners/relatedtodeceased.json
  app/resources/cy/translation/screeners/willleft.json
  app/resources/cy/translation/screeners/willoriginal.json
  app/resources/cy/translation/stoppage.json
  app/resources/en/translation/screeners/applicantexecutor.json
  app/resources/en/translation/screeners/deathcertificate.json
  app/resources/en/translation/screeners/deathcertificateinenglish.json
  app/resources/en/translation/screeners/deathcertificatetranslation.json
  app/resources/en/translation/screeners/deceaseddomicile.json
  app/resources/en/translation/screeners/diedafteroctober2014.json
  app/resources/en/translation/screeners/eedeceaseddod.json
  app/resources/en/translation/screeners/eeestatevalued.json
  app/resources/en/translation/screeners/ihtcompleted.json
  app/resources/en/translation/screeners/mentalcapacity.json
  app/resources/en/translation/screeners/otherapplicants.json
  app/resources/en/translation/screeners/relatedtodeceased.json
  app/resources/en/translation/screeners/willleft.json
  app/resources/en/translation/screeners/willoriginal.json
  app/resources/en/translation/stoppage.json
  app/steps/ui/screeners/deathcertificate/template.html
  app/steps/ui/screeners/deathcertificateinenglish/template.html
  app/steps/ui/screeners/deathcertificatetranslation/template.html
  app/steps/ui/screeners/deceaseddomicile/template.html
  app/steps/ui/screeners/diedafteroctober2014/template.html
  app/steps/ui/screeners/eedeceaseddod/template.html
  app/steps/ui/screeners/eeestatevalued/template.html
  app/steps/ui/screeners/ihtcompleted/template.html
  app/steps/ui/screeners/mentalcapacity/template.html
  app/steps/ui/screeners/otherapplicants/template.html
  app/steps/ui/screeners/relatedtodeceased/template.html
  app/steps/ui/screeners/willleft/template.html
  app/steps/ui/screeners/willoriginal/template.html
Labels: ns:probate, prd:probate, rel:probate-frontend-pr-2665

#2637 DTSPB-4792 update prototype
  app.js
  app/components/error.js
  app/core/runners/UIStepRunner.js
  app/core/steps/Step.js
  app/core/steps/ValidationStep.js
  app/steps/ui/coapplicant/declaration/index.js
  app/steps/ui/declaration/index.js
  app/steps/ui/executors/alias/index.js
  app/steps/ui/executors/currentnamereason/index.js
  app/steps/ui/executors/invite/index.js
  app/steps/ui/executors/updateinvite/index.js
  app/utils/AdditionalExecutorInvite.js
  app/utils/Sanitize.js
  test/unit/testLanguage.js
  test/unit/utils/testSanitize.js
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-frontend-pr-2637

#2683 DTSPB-4909 update webchat strings.
  app/resources/cy/translation/common.json
  app/resources/en/translation/common.json
Labels: ns:probate, prd:probate, rel:probate-frontend-pr-2683

#2662 DTSPB-4801: Update Welsh "new window" -> "new tab"
  app/resources/cy/translation/citizenshub.json
  app/resources/cy/translation/coapplicant/agreepage.json
  app/resources/cy/translation/common.json
  app/resources/cy/translation/deceased/deathcertificate.json
  app/resources/cy/translation/documents.json
  app/resources/cy/translation/iht/ihtestatevalues.json
  app/resources/cy/translation/iht/probateestatevalues.json
  app/resources/cy/translation/iht/reportestatevalues.json
  app/resources/cy/translation/iht/waitingforhmrc.json
  app/resources/cy/translation/screeners/deathcertificate.json
  app/resources/cy/translation/screeners/deceaseddomicile.json
  app/resources/cy/translation/screeners/mentalcapacity.json
  app/resources/cy/translation/static/accessibility.json
  app/resources/cy/translation/static/avaya-webchat.json
  app/resources/cy/translation/static/contact.json
  app/resources/cy/translation/static/privacy.json
  app/resources/cy/translation/static/terms.json
  app/resources/cy/translation/stoppage.json
  app/resources/cy/translation/thankyou.json
  app/resources/en/translation/citizenshub.json
  app/resources/en/translation/coapplicant/agreepage.json
  app/resources/en/translation/common.json
  app/resources/en/translation/deceased/deathcertificate.json
  app/resources/en/translation/documents.json
  app/resources/en/translation/iht/ihtestatevalues.json
  app/resources/en/translation/iht/probateestatevalues.json
  app/resources/en/translation/iht/waitingforhmrc.json
  app/resources/en/translation/screeners/deathcertificate.json
  app/resources/en/translation/screeners/deceaseddomicile.json
  app/resources/en/translation/screeners/mentalcapacity.json
  app/resources/en/translation/static/contact.json
  app/resources/en/translation/static/privacy.json
  app/resources/en/translation/static/terms.json
  app/resources/en/translation/stoppage.json
  app/resources/en/translation/thankyou.json
  test/data/legalDeclationHTML.html
  test/unit/services/coversheet/testCoverSheetPdf.js
Labels: ns:probate, prd:probate, enable_keep_helm, rel:probate-frontend-pr-2662

#2718 DTSPB-4916 Workaround to submit cases with no payment needed.
  app/steps/ui/payment/breakdown/index.js
  charts/probate-frontend/values.preview.template.yaml
  test/unit/payment/testPaymentBreakdown.js
Labels: ns:probate, prd:probate, nightly-without-welsh-tests, enable_keep_helm, rel:probate-frontend-pr-2718
