Repository hmcts/probate-frontend, pull requests merged in 2025-05, with the labels that each got.

#2439 Dtspb 4664 do not get with params
  app/services/PinNumber.js
  charts/probate-frontend/Chart.yaml
  charts/probate-frontend/values.preview.template.yaml
  test/component/pin/testPinResend.js
  test/contract/generatepin/testGeneratePin.js
  test/contract/pact/probate/PinNumberClient.spec.js
  test/unit/services/testPinNumber.js
Labels: ns:probate, prd:probate, nightly, enable_keep_helm, aat/add-or-update, prod/no-changes, rel:probate-frontend-pr-2439

#2436 Update chart to use oci
  charts/probate-frontend/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-frontend-pr-2436

#2478 DTSPB-3965 Payment and Submission correction
  app/steps/ui/payment/status/index.js
  test/component/payment/testPaymentStatus.js
  test/end-to-end/paths/generic/survey.test.js
  test/end-to-end/paths/intestacy/intestacy.en.test.EE.no.js
  test/end-to-end/paths/intestacy/intestacy.en.test.EE.yes.js
  test/end-to-end/paths/intestacy/intestacy.en.test.js
  test/end-to-end/paths/intestacy/intestacy.spouse.en.test.EE.no.js
  test/end-to-end/paths/intestacy/intestacy.spouse.en.test.EE.yes.js
  test/end-to-end/paths/intestacy/intestacy.spouse.en.test.js
  test/end-to-end/paths/probate/gopSingleExecutor.en.test.EE.no.js
  test/end-to-end/paths/probate/gopSingleExecutor.en.test.EE.yes.js
  test/end-to-end/paths/probate/gopSingleExecutor.en.test.js
  test/end-to-end/paths/probate/multipleExecutors.EE.no.js
  test/end-to-end/paths/probate/multipleExecutors.EE.yes.js
  test/end-to-end/paths/probate/multipleExecutors.js
  test/unit/payment/testPaymentStatus.js
Labels: ns:probate, prd:probate, rel:probate-frontend-pr-2478

#2503 DTSPB-4729 Removed bar_api from s2s
  docker-compose.yml
Labels: ns:probate, prd:probate, rel:probate-frontend-pr-2503

#2511 DTSPB-4775: Add h2 tag to survey div
  app/resources/cy/translation/citizenshub.json
  app/resources/en/translation/citizenshub.json
  app/steps/ui/citizenshub/template.html
  app/steps/ui/thankyou/template.html
Labels: ns:probate, prd:probate, aat/add-or-update, prod/no-changes, rel:probate-frontend-pr-2511

#2518 DTSPB-4727 fix Duplicate names appearing on Legal Declaration
  app/steps/ui/declaration/index.js
  test/unit/testDeclaration.js
  yarn-audit-known-issues
Labels: ns:probate, prd:probate, aat/add-or-update, prod/no-changes, rel:probate-frontend-pr-2518
